@import "~react-image-gallery/styles/css/image-gallery.css";

.containerMoradas{
  position: static;
}

.image-gallery-slide .image-gallery-image {
  width: 80vh;
  object-fit: contain; 
}

@media(max-width: 768px) {

.image-gallery-slide .image-gallery-image {
  width: 40vh;
  object-fit: contain; 
}
}